/* main */
.main {
    margin-top: 60px;
    padding: 0 calc((100% - 1120px) / 2);
    height: 510px;
    /* background-color: #f9f; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-photo {
    height: 510px;
    border-radius: 30px;
    filter: drop-shadow(0px 4px 18px rgba(57, 57, 57, 0.25));
}

.main-text {
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.big-red {
    color: #D22D00;
    font-size: 56px;
    font-weight: 700;
}

.main-text p {
    color: #000;
    font-size: 20px;
}

.order-butt {
    margin-top: 40px;
    width: 252px;
    height: 71px;
    background-color: #D22D00;
    border-radius: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.order-butt-main{
    align-items: center;
    color: #fff;
    font-size: 18px;
}

.main-img{
    position: relative;
}

.hello {
    position: absolute;
    top: -7%;
    left: 10%;
}
.privit {
    position: absolute;
    top: 20%;
    right: -5%;
}
.hallo {
    position: absolute;
    top: 60%;
    left: -15%;
}
.hola {
    position: absolute;
    top: 60%;
    right: -5%;
}
.chezz {
    position: absolute;
    bottom: -10%;
    left: 40%;
}
/* main */

/* why-we */
.why-we {
    margin-top: 100px;
    padding: 0 calc((100% - 1120px) / 2);
    height: 510px;
    height: 270px;
    /* background-color: #ff3; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.advantages{
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.plus {

    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.plus img {
    height: 112px;
    width: 112px;
    border-radius: 21.8707px;
}

.plus h3 {
    font-weight: 400;
    font-size: 20px;
}

.aboba1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 43%;
}

.blue {
    color: #1F6BFF;
}

.green {
    color: #A4ED00;
}

.purple {
    color: #792D94;
}

.yellow{
    color: #FFB800;
}
/* why-we */

/* teachers */
.teacher {
    position: relative;
}

.t-tags {
    position: absolute;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    margin-top: 15px;
    margin-left: 15px;
    z-index: 5;
}

.t-tag {
    height: 30px;
    width: fit-content;
}

.teach-img {
    position: relative;
}

.t-img {
    position: absolute;
    top: -4%;
    left: calc((100% - 1250px) / 2);
}

.teachers {
    margin-top: 100px;
    /* background-color: #672; */
    padding: 0 calc((100% - 1120px) / 2);
    display: flex;
    flex-direction: column;
}

.center {
    align-self: center;
}

.teacher-row {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.teacher img {
    filter: drop-shadow(0px 4px 18px rgba(57, 57, 57, 0.25));
    border-radius: 15px;
}

.teacher h2{
    font-size: 32px;
    color: #D22D00;
    margin-top: 20px;
}

.teacher p {
    font-size: 20px;
    margin-top: 10px;
}

.teacher hr {
    width: 500px;
    height: 1px;
    border: none;
    background: rgba(210, 45, 0, 0.08);
    margin: 10px;
    align-self: start;
}

.languages {
    display: flex;
    flex-direction: row;
    justify-content: start;
    column-gap: 30px;
    margin-bottom: 20px;
}

.language {
    display: flex;
    flex-direction: row;
    justify-content: start;
    column-gap: 8px;
    align-items: center;
}

.language img {
    border-radius: 250px;
    filter: drop-shadow(0px 4px 18px rgba(57, 57, 57, 0.25));
}

.language p {
    font-size: 16px;
    font-weight: 500;
    align-self: center;
}
.skrek {
    display: none;
}
/* teachers */

/* speaching club */
.sp-img {
    position: relative;
}

.s-img{
    position: absolute;
    bottom: -18%;
    right: calc((100% - 1100px) / 2);
}

.speaking-club {
    margin-top: 100px;
    /* background-color: #672; */
    padding: 0 calc((100% - 1120px) / 2);
    display: flex;
    flex-direction: column;
}

.speaking-club h1{
    align-self: center;
}

.sp-club {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.club-photo {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.spc {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

.spc img {
    filter: drop-shadow(0px 4px 18px rgba(57, 57, 57, 0.25));
    border-radius: 10px;
}

.club-photo img
{
    filter: drop-shadow(0px 4px 18px rgba(57, 57, 57, 0.25));
    border-radius: 20px;
}

.club-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 20px;
}

.c-t {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
}

.c-t h3 {
    font-weight: 500;
    font-size: 24px;
}

.square {
    width: 10px;
    height: 10px;
    background: #D22D00;
    transform: rotate(-45deg);
}

.spc-r {
    height: 373px;
    width: 559px;
    border-radius: 30px;
    background: #FFF4F3;
    border-radius: 30px;
    /* padding: 30px 0 0 0; */
    display: flex;
    flex-direction: column;
    /* row-gap: 30px; */
    align-items: center;
    justify-content: space-evenly;
}   

.spc-r p {
    font-weight: 400;
    font-size: 20px;
    width: 474px;
}

.spc-r h3 {
    font-weight: 500;
    font-size: 20px;
    width: 474px;
}

.speaking-club .order-butt {
    align-self: center;
}
/* speaching club */


/* pride */
.p-i-img {
    position: relative;
}

.great {
    position: absolute;
    z-index: 3;
    top: 10%;
    left: -10%;
}
.telephone {
    position: absolute;
    z-index: 3;
    top: 45%;
    left: -30%;
}
.fantastic {
    position: absolute;
    z-index: 3;
    top: 25%;
    right: -23%;
}

.p-t-img {
    position: relative;
}

.brit-fl {
    position: absolute;
    right: -20%;
}

.pride {
    height: 998px;
    padding: 96px calc((100% - 1120px) / 2) 0;
    margin-top: 120px;
    background: linear-gradient(180deg, #FFFCEE 0%, #FFFFFF 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pride img {
    margin-top: 42px;
    filter: drop-shadow(0px 4px 18px rgba(57, 57, 57, 0.25));
    border-radius: 20px;
}

.pride-box {
    height: 370px;
    width: 746px;
    background: #FFF4F3;
    border-radius: 30px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.pride-box p {
    width: 671px;
    font-size: 20px;
    font-weight: 400;
    align-self: center;
}

.pride-box h3 {
    width: 671px;
    font-size: 20px;
    font-weight: 500;
    align-self: center;
}
/* pride */

/* reviews */
.reviews {
    display: flex;
    flex-direction: column;
    height: 470px;
    background: linear-gradient(180deg, #FFFFFF 0%, #FFFCEE 100%);
}

.reviews h1 {
    align-self: center;
}

.reviews-row {
    margin-top: 98px;
    padding: 0px calc((100% - 1120px) / 2) ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.review {
    height: 300px;
    width: 347px;
    background: #fff;
    box-shadow: 0px 4px 18px rgba(159, 159, 159, 0.14);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -30px;
}

.review-text h3 {
    font-size: 24px;
    font-weight: 700;
    color: #D22D00; 
}

.review-text p {
    margin-top: 9px;
    height: 90px;
    width: 283px;
    font-size: 15px;
    font-weight: 300;
}

.profile {
    width: 100px;
    position: relative;
    top: -50px;
}

.stars {
    margin-top: 9px;
    height: 20px;
    width: 104.8025131225586px;
}
/* reviews */

/* q-a */
.sky {
    position: absolute;
    z-index: 3;
    top: -10%;
    right: calc((100% - 1050px) / 2);
}
.fla {
    position: absolute;
    z-index: 4;
    top: -18%;
    right: calc((100% - 900px) / 2);
}
.mus {
    position: absolute;
    z-index: 5;
    top: -15%;
    right: calc((100% - 1050px) / 2);
}

.q-a{
    margin-top: 100px;
    padding: 0px calc((100% - 934px) / 2) ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.q-a h1 {
    align-self: center;
}

.q-a p {
    margin-top: 20px;
    width: 90%;
    font-size: 16px;
    font-weight: 400;
}

.question {
    font-size: 32px;
    font-weight: 500;
}

.q-a-block {
    margin: 40px 0;
    font-size: 16px;
    font-weight: 400;
}


details summary {
    width: 100%;
    padding: 0.5rem 0;
    position: relative;
    cursor: pointer;
    list-style: none;
}
  
details summary:after {

    display: flex;
    place-content: end center;
    content: "‹";
    transform: rotate(-90deg);
    color: #D22D00;
    position: absolute;
    font-size: 35px;
    line-height: 0;
    top:25px;
    right: 0;
    font-weight: 200;
    transform-origin: center;
    transition: 150ms linear;
}

details[open] summary:after {
    transform: rotate(90deg);
    font-size: 35px;
}

.q-a hr {
    width: 100%;
    height: 1px;
    background: rgba(210, 45, 0, 0.08);
    border: 0;
}
/* q-a */

/* meeting */
.meeting {
    padding: 0px calc((100% - 1120px) / 2) ;
    margin-top: 80px;
    padding-top: 96px;
    height: 750px;
    background: linear-gradient(180deg, #FFF3F2 0%, #FFFFFF 100%);
    display: flex;
    flex-direction: column;
}

.flags {
    display: flex;
    flex-direction: row;
    column-gap: 24px;
    align-self: center;
}

.flags img{
    border-radius: 250px;
    filter: drop-shadow(0px 4px 18px rgba(57, 57, 57, 0.21));
}

.meeting h1 {
    margin-top: 20px;
    align-self: center;
}

.f-i {
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.f-i img {
    filter: drop-shadow(0px 4px 18px rgba(57, 57, 57, 0.25));
    border-radius: 20px;
}

.forma-button {
    margin-top: 40px;
    width: 252px;
    height: 71px;
    background-color: #D22D00;
    border-radius: 300px;
    border: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-items: center;
    color: #fff;
    font-size: 18px;
}

.forma-label {
    font-size: 20px;
    font-weight: 400;
}

.forma-frame {
    border: 0;
    background: #FFFFFF;
    border-radius: 10px;
    height: 48px;
    width: 467px;
    font-size: 20px;
    padding: 15px;
}

.commets {
    height: 120px;
    border: rgba(0, 0, 0, 0.5);
}
/* meeting */


@media (max-width: 1250px) {
    
    .main {
        flex-direction: column;
        height: fit-content;
        row-gap: 70px;
        padding: 0 calc((100% - 800px) / 2);
    }

    .why-we{
        height: fit-content;
        padding: 0 calc((100% - 800px) / 2);
    }

    .teachers {
        padding: 0 calc((100% - 800px) / 2);
    }

    .aboba1 {
        margin-top: 25px;
        column-gap: 90px;
        width: 400px;
        align-self: center;
    }
    .plus h3 {
        width: 163px;
    }
    .advantages {

        flex-direction: column;
    }

    .teacher-row {
        flex-direction: column;
        row-gap: 40px;
        align-self: center;
    }

    .sp-club {
        flex-direction: column-reverse;
        row-gap: 40px;
        padding: 0 calc((100% - 800px) / 2);
        align-items: center;
    }

    .aboba4 {
        width: 478px;
    }


    .p-i-img img:last-child {
        width: 700px;
    }

    .pride-box p {
        width: 650px;
    }
    .pride-box h3 {
        width: 650px;
    }

    .s-img {
        display: none;
    }

    .fantastic {
        display: none;
    }
    
    .great {
        display: none;
    }

    .telephone {
        display: none;
    }

    .brit-fl {
        display: none;
    }
    .fla {
        display: none;
    }
    .mus {
        display: none;
    }
    .sky {
        display: none;
    }
    .t-img {
        display: none;
    }
    .privit {
        display: none;
    }
    .hello {
        display: none;
    }
    .hallo {
        display: none;
    }
    .hola {
        display: none;
    }
    .chezz {
        display: none;
    }

    .pride-box {
        width: 700px;
    }

    .reviews {
        height: fit-content;
    }

    .review {
        margin-bottom: 90px;
        align-self: center;
    }

    .reviews-row {
        flex-direction: column-reverse;
    }

    .q-a {
        max-width: 760px;
        align-self: center;
    }

    .bold {
        white-space: nowrap;
    }

    .meeting {
        height: fit-content;
        margin-bottom: 40px;
    }

    .f-i {
        flex-direction: column;
        align-items: center;
        height: fit-content;
    }

    .f-i img {
        max-width: 504px;
    }

    .advantages {
        width: 800px;
    }
    
}

@media (max-width: 950px) {
    .q-a h1 {
        font-size: 32px;
    }

    .meeting h1 {
        font-size: 32px;
    }

    .pride h1 {
        font-size: 32px;
    }
    .reviews h1 {
        font-size: 32px;
    }

    .main {
        padding: 0 10%;
    }

    .why-we{
        padding: 0 10%;
    }

    .teachers {
        padding: 0 10%;
    }


    .advantages {
        max-width: 600px;
    }


    .sp-club {
        padding: 0 10%;
    }


    .p-i-img img:last-child {
        width: 640px;
    }

    .pride-box {
        width: 640px;
        height: 480px;
    }

    .pride-box p {
        width: 580px;
    }
    .pride-box h3 {
        width: 580px;
    }



    .q-a {
        max-width: 640px;
    }


    .f-i {
        flex-direction: column;
        align-items: center;
        height: fit-content;
    }

    .f-i img {
        max-width: 504px;
    }

    .advantages {
        width: 800px;
    }
}

@media (max-width: 700px) {
   .main-text {
    width: 360px;
    height: 250px;
   }
   .main h1 {
    font-size: 28px;
   }
   .main p {
    font-size: 20px;
   }
   .main-photo {
    width: 360px;
    height: fit-content;
   }
   .qwe {
    display: none;
   }
   .order-butt {
    width: 200px;
    height: 60px;
    margin-top: 5px;
   }
   .main {
    row-gap: 30px;
   }

   .why-we{
    margin-top: 40px;
   }

   .why-we h1 {
    font-size: 28px;
   }

   .advantages {
    max-width: 320px;
   }

   .aboba1 {
    column-gap: 5px;
    max-width: 320px;
   }

   .plus h3 {
    font-size: 16px;
   }

   .plus {
    height: 160px;
   }

   .teachers h1 {
    font-size: 28px;
   }

   .aboba2 {
    width: 360px;
   }

   .teacher h2 {
    font-size: 22px;
    width: 360px;
   }
   .teacher p {
    font-size: 18px;
    width: 360px;
   }

   .languages p {
    width: fit-content;
    font-size: 14px
   }
   .teacher hr {
    width: 100%;
   }
   .languages {
    width: 360px;
   }
   .skrek {
    display: inline;
   }
   .teach-img {
    width: 100%;
   }

   .speaking-club h1 {
    font-size: 28px;
   }
   
   .club-text {
    width: 360px;
   }

   .c-t h3 {
    font-size: 24px;
   }
   .spc-r {
    width: 370px;
   }

   .spc-r p {
    width: 320px;
    font-size: 18px;
   }
   .spc-r h3 {
    width: 320px;
    font-size: 18px;
   }

   .aboba4 {
    width: 360px;
   }
   .aboba3 {
    width: 170px;
    height: fit-content;
   }
   .club-photo {
    width: 360px;
   }

   .speaking-club .order-butt {
    margin-top: 35px;
   }
   .pride {
    margin-top: 40px;
   }
   .pride h1 {
    font-size: 28px;
   }
   .p-i-img img:last-child {
    width: 360px;
   }

    .pride-box {
        width: 360px;
        height: 600px;
    }

    .pride-box p {
        width: 320px;
        font-size: 18px;
    }
    .pride-box h3 {
        width: 320px;
        font-size: 20px;
    }
    .reviews h1 {
        font-size: 28px;
    }
    .reviews h3 {
        font-size: 22px;
    }
    .q-a h1 {   
        font-size: 28px;
    }

    .question {
        font-size: 22px;
    }

    .q-a{
        max-width: 360px;
    }

    .flags img {
        width: 30px;
    }

    .meeting h1 {
        font-size: 28px;
    }

    .f-i img {
        width: 360px;
    }
    
    .forma-button {
        margin-top: 20px;
        width: 200px;
    height: 60px;
        font-size: 18px;
    }
    
    .forma-label {
        font-size: 16px;
        font-weight: 360;
    }
    
    .forma-frame {
        border: 0;
        background: #FFFFFF;
        border-radius: 10px;
        height: 40px;
        width: 360px;
        font-size: 16px;
        padding: 15px;
    }
    
    .commets {
        height: 120px;
        border: rgba(0, 0, 0, 0.5);
    }
}
@media (max-width: 460px) {
   .main-text {
    width: 300px;
    height: 250px;
   }
   .main h1 {
    font-size: 26px;
   }
   .main p {
    font-size: 18px;
   }
   .main-photo {
    width: 300px;
   }

   .why-we h1 {
    font-size: 26px;
   }

   .advantages {
    max-width: 300px;
   }

   .aboba1 {
    column-gap: 0px;
    max-width: 260px;
   }

   .plus h3 {
    font-size: 14px;
    width: 100px;
   }

   .plus {
    height: 120px;
   }
   .plus img {
    width: 80px;
    height: 80px;
   }

   .teachers h1 {
    font-size: 26px;
   }

   .aboba2 {
    width: 300px;
   }

   .teacher h2 {
    font-size: 20px;
    width: 300px;
   }
   .teacher p {
    font-size: 16px;
    width: 300px;
   }
   .teacher {
    width: 300px;
   }

   .t-tag {
    height: 28px;
    
   }

   .t-tags {
    left: -5px;
   }

   .languages p {
    width: fit-content;
    font-size: 14px
   }
   .teacher hr {
    width: 300px;
   }
   .languages {
    width: 300px;
   }
   .language img {
    height: 30px;
   }

   .teach-img {
    width: 100%;
   }

   .speaking-club h1 {
    font-size: 26px;
   }
   .speaking-club {
    margin-top: 45px;
   }
   
   .club-text {
    width: 300px;
   }
   .c-t {
    width: 300px;
   }

   .c-t h3 {
    font-size: 18px;
    width: 260px;
   }
   .square {
    width: 6px;
    height: 6px;
   }
   .spc-r {
    width: 300px;
    height: 300px;
   }

   .spc-r p {
    width: 260px;
    font-size: 14px;
   }
   .spc-r h3 {
    width: 260px;
    font-size: 14px;
   }

   .aboba4 {
    width: 300px;
   }
   .aboba3 {
    width: 140px;
    height: fit-content;
   }
   .club-photo {
    width: 300px;
   }

   .order-butt {
    width: 160px;
    height: 50px;
    
   }
   .order-butt a{
    font-size: 15px;
   }
   .pride {
    margin-top: 20px;
    padding-top: 20px;
    height: 620px;
   }
   .pride h1 {
    font-size: 24px;
   }
   .p-i-img img:last-child {
    width: 300px;
   }

    .pride-box {
        width: 300px;
        height: 350px;
    }

    .pride-box p {
        width: 260px;
        font-size: 15px;
    }
    .pride-box h3 {
        width: 260px;
        font-size: 15px;
    }
    .reviews h1 {
        font-size: 26px;
    }
    .review img:first-child{
        width:60px;
        top:-30px;
    }
    .review {
        width: 300px;
        height: 245px;
        margin-bottom: 50px;
    }
    .review-text{
        margin-top: 20px;
    }
    .review-text img {
        width: 70px;
        height: fit-content;
    }
    .reviews-row {
        margin-top: 50px;
    }
    .reviews h3 {
        font-size: 18px;
    }
    .q-a h1 {   
        font-size: 26px;
    }

    .question {
        font-size: 18px;
    }

    .q-a{
        max-width: 300px;
    }
    .q-a-block {
        margin: 20px 0;
    }
    .flags img {
        width: 30px;
    }

    .meeting h1 {
        font-size: 23px;
    }
    .meeting  {
        margin-top: 20px;
        padding-top: 20px;
    }

    .f-i img {
        width: 300px;
    }
    
    .forma-button {
        margin-top: 20px;
        width: 180px;
        height: 50px;
        font-size: 15px;
    }
    
    .forma-label {
        font-size: 14px;
        font-weight: 300;
    }
    
    .forma-frame {

        height: 32px;
        width: 300px;
        font-size: 14px;
        padding: 15px;
    }
    
    .commets {
        height: 120px;
        border: rgba(0, 0, 0, 0.5);
    }
}