@import url("index.css");
@import url("rent.css");
@import url("contacts.css");
@import url("courses.css");
@import url("../fonts/avdira/avdira.css");
@import url("../fonts/mariupol_font/stylesheet.css");

body {
    height: 100%;
}
body, html, div, p, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
    color: #212121;
    font-family: Mariupol;
}
a {
    text-decoration: none;
}
.bold {
    font-weight: 700;
}

.red{
    color: #D22D00;
}
textarea {
    resize: none;
}

.underlined {
    text-decoration-line: underline;
}

.page-content {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}



.w {
    color: #fff;
}
/* header */
.navbar {
    height: 72px;
    background: #D22D00;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 calc((100% - 1120px) / 2);
    box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.03);
}

.navigation-center{
    align-items: center;
    display: flex;
    width: 60%;
    justify-content: space-between;
}

.logo {
    font-family: Avdira;
}

.navbar-button {
    font-size: 16px;
}

.phone {
    height: 34px;
    width: 161px;
    border-radius: 17px;
    background-color: #fff;
    color: #D22D00;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.phone-img {
    width: 18px;
    height: 18px;
}

.phone-number {
    color: #D22D00;
    font-size: 16px;
}
/* header */


/* footer */
.footer {
    height: 222px;
    background-color: #D22D00;
    padding: 0 calc((100% - 1120px) / 2);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.mini-nav{

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 43%;
}

.footer-logo{
    font-family: Avdira;
    font-size: 50px;

}

.footer-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-spot {
    width: 17.5px;
    height: 17.5px;
}

.footer-adress a {
    display: flex;
    justify-content: start;
    align-items: center;
}

.footer-adress p {
    font-size: 16px;
}

.footer-contacts{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

.mail-t {
    height: 34px;
    width: 200px;
    border-radius: 17px;
    background-color: #fff;
    color: #D22D00;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/* footer */