@import url("index.css");
@import url("rent.css");
@import url("contacts.css");
@import url("courses.css");
@import url("../fonts/avdira/avdira.css");
@import url("../fonts/mariupol_font/stylesheet.css");

body {
    height: 100%;
}
body, html, div, p, h1, h2, h3, h4, ul, li {
    margin: 0;
    padding: 0;
    color: #212121;
    font-family: Mariupol;
}
a {
    text-decoration: none;
}
.bold {
    font-weight: 700;
}

.red{
    color: #D22D00;
}
textarea {
    resize: none;
}

.underlined {
    text-decoration-line: underline;
}

.page-content {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    /* flex: 1 1 auto; */

    display: none;
}



.w {
    color: #fff;
}
/* header */
.navbar {
    height: 72px;
    background: #D22D00;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 calc((100% - 1120px) / 2);
    box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.03);
}

#menuToggle {
    display: none;
}

.navigation-center{
    align-items: center;
    display: flex;
    width: 60%;
    justify-content: space-between;
}

.logo {
    font-family: Avdira;
}

.navbar-button {
    font-size: 16px;
}

.phone {
    height: 34px;
    width: 161px;
    border-radius: 17px;
    background-color: #fff;
    color: #D22D00;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.phone-img {
    width: 18px;
    height: 18px;
}

.phone-number {
    color: #D22D00;
    font-size: 16px;
}
/* header */


/* footer */
.footer {
    height: 222px;
    background-color: #D22D00;
    padding: 0 calc((100% - 1120px) / 2);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.mini-nav{

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 43%;
}

.footer-logo{
    font-family: Avdira;
    font-size: 50px;

}

.footer-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-spot {
    width: 17.5px;
    height: 17.5px;
}

.footer-adress a {
    display: flex;
    justify-content: start;
    align-items: center;
}

.footer-adress p {
    font-size: 16px;
}

.footer-contacts{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

.mail-t {
    height: 34px;
    width: 200px;
    border-radius: 17px;
    background-color: #fff;
    color: #D22D00;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.f-950-aboba{
    display: none;
}

.aboba-cont{
    display: flex;
    flex-direction: row;
    column-gap: 7px;
}

/* footer */


@media (max-width: 1250px) {
    .navbar {
        height: 72px;
        padding: 0 calc((100% - 800px) / 2);
    }
    
    .navigation-center{
        width: 70%;
    }
    
    .navbar-button {
        font-size: 16px;
    }
    
    .phone {
        height: 34px;
        width: 161px;
        border-radius: 17px;
    }
    
    .phone-img {
        width: 18px;
        height: 18px;
    }
    
    .phone-number {
        font-size: 16px;
    }




    .footer {
        padding: 0 calc((100% - 800px) / 2);
    }
    
    .mini-nav{
    
        width: 50%;
    }
    
    .footer-line {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .footer-spot {
        width: 17.5px;
        height: 17.5px;
    }
    
    .footer-adress a {
        display: flex;
        justify-content: start;
        align-items: center;
    }
    
    .footer-adress p {
        font-size: 16px;
    }
    
    .footer-contacts{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 60%;
    }
    
    .mail-t {
        height: 34px;
        width: 200px;
        border-radius: 17px;
        background-color: #fff;
        color: #D22D00;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .f-950-aboba{
        display:inline;
    }
    .aboba-cont{
        column-gap: 16px;
    }
}


@media (max-width: 950px) {
    .navbar {
        height: 72px;
        padding: 0 10%;
    }
    
    .navigation-center{
        display: none;
        width: 70%;
    }
    
    
    a {

        transition: 200ms;
    }
    
    .phone {
        width: 300px;
        height: 600px;
    }
    
    nav {
        background-color: #1E1E23;
        height: 65px;
    }
    
    
    #menuToggle {
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 1;
    }
    
    #menuToggle input
    {
        display: flex;
        width: 40px;
        height: 32px;
        position: absolute;
        cursor: pointer;
        top: -10px;
        left: -10px;
        opacity: 0;
        z-index: 2;
    }
    
    #menuToggle span
    {
        display: flex;
        width: 29px;
        height: 2px;
        margin-bottom: 5px;
        position: relative;
        background: #ffffff;
        border-radius: 3px;
        z-index: 1;
    }
    
    
    #menuToggle input:checked ~ span
    {
        opacity: 1;
        background: #36383F;
    }
    
    #menu
    {
        position: absolute;
        top: -26.5px;
        right: -50px;
        width: 222px;
        height: 180px;
        border-radius: 20px;
        border: 0;
        background-color: #D22D00;
        padding: 75px 0 0 20px;
        display: none;



    }

    #menuToggle input:checked ~ #menu {
        display: block;
    }
    
    #menu li
    {
        list-style-type: none;
        margin-top: 10px;
    }
    #menu li a {
        font-family: Mariupol;
        font-size: 18px;
        font-weight: 300;
        text-decoration: none;
        color: #fff;

    }

    .phone {
        height: 34px;
        width: 150px;
        border-radius: 17px;
    }
    
    .phone-img {
        width: 18px;
        height: 18px;
    }
    
    .phone-number {
        font-size: 16px;
    }



    .footer {
        padding: 0 10%;
        height: 250px;
    }
    
    .mini-nav{
    
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 360px;
    }
    
    .footer-logo{
        font-family: Avdira;
        font-size: 32px;
    
    }
    
    .footer-line {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .footer-spot {
        width: 17.5px;
        height: 17.5px;
    }
    
    .footer-adress a {
        display: flex;
        justify-content: start;
        align-items: center;
    }
    
    .footer-adress p {
        font-size: 16px;
    }
    
    .footer-contacts{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        row-gap: 18px;
        align-items: end;
        width: fit-content;
    }
    
    .mail-t {
        height: 34px;
        width: 200px;
        border-radius: 17px;
        background-color: #fff;
        color: #D22D00;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}


@media (max-width: 700px) {
    .navbar {
        height: 50px;
    }

    .navbar h1 {
        font-size: 26px;
    }

    .footer {
        height: 450px;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .footer-line{
        flex-direction: column;
        align-items: flex-start;
        height: 180px;
    }

    .mini-nav {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 10px;
    }

    .footer p  {
        font-size: 14px;
    }
    .footer a  {
        font-size: 14px;
    }

    .mini-nav p {
        display: none;
    }

    .mini-nav a {
        font-size: 18px;
    }

    .footer-line:first-child {
        height: 160px;
    }

    .mail-t {
        width: 180px;
    }

    .phone {
        width: 130px;
        justify-content: space-evenly;
    }


    .footer-contacts {
        align-items: flex-start;
    }
    
}